@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'DynaPuff';
		font-style: normal;
		src: url("$lib/fonts/DynaPuff.ttf");
	}

	@font-face {
		font-family: 'GamjaFlower';
		font-style: normal;
		src: url("$lib/fonts/GamjaFlower.ttf");
	}
}